// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';
// Bootstrap
@import '~bootstrap/scss/bootstrap';

//mixins
@mixin button-font {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    color: white;
  }
@mixin header-blue{
    background-color: $all-blue;
    height: 300px;
}
@mixin header-styling{
    font-family: 'Archivo', sans-serif;
    font-size: 30px;
    color: white;
    padding-top: 30px;
    font-weight: bold;
    position: relative;
}
@mixin frame-canvas{
    height: 350px;
    background-color: white;
}
//themes
$theme-colors: (
    "primary": #092059
);

//color variables
$header-darkblue: #092059;
$all-blue: #1F3C88;
$all-cards: #CEDDEF;
$footer-darkblue: #021D5E;
$buttons-darkblue: #1E3B87;

// header and nav
#topContent{
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: $header-darkblue;
    height: 100px;
}
#headerLogo{
    position: relative;
    display: block;
  margin-left: auto;
  margin-right: auto;
}
#blue-rect{
    @include header-blue();
    position: relative;
    bottom: 300px;
}
#white-rect{
    @include header-blue();
    background-color:#CEDDEF;
    position: relative;
    bottom: 300px;
}
#lblue-signup{
    position: relative;
    bottom:300px;
    background-color: rgb(206, 221, 239, 0.8);
    padding: 40px 40px 30px 40px;
    height: 300px;
    width: 1000px;
}
#buttonBlue{
    @include button-font();
    font-family: 'Archivo', sans-serif;
    background-color: $buttons-darkblue;
    align-items: center;
    border: none;
    border-radius: 6px;
    width: 260px; height: 55px;
}
#buttonBlue2{
    @include button-font();
    font-size: 15px;
    background-color: $buttons-darkblue;
    align-items: center;
    border: none;
    border-radius: 6px;
    width: 260px; height: 55px;
}
a{
    text-decoration: none;
    font-family: 'Archivo', sans-serif;
    color: #1F3C88;
}
input::placeholder {
    color: rgb(0, 0, 0);
    font-family: 'Poppins', sans-serif;
  }
.secondRow{
    padding-top: 5px;
    padding-bottom: 20;
}
.thirdRow{
    padding-top: 13px;
    position: relative;
    left: 250px;
    font-size: 23px;
}
.lastRow{
    padding-top: 13px;
}
#headerStyleBlue{
    @include header-styling();
    color: $all-blue;
    text-align: center;
}
#headerStyleWhite{
    @include header-styling();
    text-align: center;
}
#frameBlue{
    @include frame-canvas();
    background-color: $all-blue;
    position: relative;
    bottom:300px;
}
#frameWhite{
    @include frame-canvas();
    background-color: white;
    position: relative;
    bottom:300px;
}
.card-body{
    background-color: $all-cards;
    font-family: 'Archivo', sans-serif;
    width: 600px; height: 500;
    position: relative;
    right: 50px; bottom:100px;
    border-radius: 13px;
}
.lawUpdatesImage{
    position: absolute;
    left: 640px; bottom: 380px;
    border-radius: 13px;
}
.card{
    border-radius: 13px;
    background-color: $all-cards;
    border: none;
    outline: none;
    align-items: center;
}
#logoFooter{
    position: relative;
    right: 100px;
}
#areasHolder{
    position: relative;
    top: 70px;
    z-index: 5;
}

#textStyle{
    font-family: 'Roboto', sans-serif;
    color: #080E5A;
    font-weight: bold;
}

.btn{
    font-family:'Archivo', sans-serif;
    background-color: $buttons-darkblue;
    border: none;
    outline: none;
}

.areasChoices {
    width: 100%;
    height: 17vw;
    object-fit: cover;
}

.areasButton{
    background-color: rgb(206, 221, 239, 0.5);
    color: $all-blue;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}

#everydayLawVid{
    position: absolute;
    bottom: 170px; left: 90px;
}

.navFont{
    font-size: 18px;
}

.ced{
    background-color: #203D88;
}

.SignUp{

}

.cardTitle{
    color: #080E5A;
    font-family:'Archivo', sans-serif;
    font-weight: bold;
    font-size: 25px;
}
.cardText{
    color: #080E5A;
    font-family:'Archivo', sans-serif;
    font-size: 16px;
}
.cardBody{
    padding: 35px 35px 35px 35px;
    bottom: 250px;
}
.buttonWhite{
    border-radius: 8px;
    background-color: #1F3C88;
    color: white;
    font-family:'Archivo', sans-serif;
    font-size: 20px;
    font-weight: bold;
    width: 200px;
    height: 50px;
}
#linksLegal{
    color: white;
    font-size: 16px;
    padding-right: 50px;
    position: relative;
    right: 148px;
}
#footerInfo{
    font-size: 16px;
}
#footerHeading{
    font-size: 18px;
}

.poweredBy{
    position: relative;
    top: 85px;
    left:25px;
    color: #5893D4;
}

hr.style1{
	border-top: 1px solid #8c8b8b;
    position: relative;
    top:100px;

}
.contentsFooter{
    position: relative;
    top: 100px;
}
body{//for testing
    background-color: #ffffff;
}

#frameWhiteBig{
    height: 550px;
    background-color: white;
    position: relative;
    bottom:300px;
}


.evrcard{
background-color: #1f3c88;

}

.evrcardfont{
    color:#CEDDEF;
}

.evrbtn{
    background-color: #CEDDEF;
    color: #1f3c88;
}

#bg{
    height: 720px; ;
    background-image: url("/images/bgLandingPage.png");
    background-size:cover;
    background-repeat: no-repeat;
    background-position: 50%;

}
