// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Bootstrap Darkmode
// @import "~bootstrap-darkmode/darktheme";

.side-navbar {
  width: 250px;
  height: 100%;
  position: fixed;
  margin-left: -300px;
  background-color: #FFFFFF;
  transition: 0.5s;
}

.nav-link:active,
.nav-link:focus,
.nav-link:hover {
  background-color: #ffffff26;
}

.main-container {
  transition: 0.4s;
}

.active-nav {
  margin-left: 0;
}

/* for main section */
.active-cont {
  margin-left: 250px;
}

#menu-btn {
  background-color: #100901;
  color: #fff;
}

/* ---------- FEMININE HOMEPAGE CSS ---------- */
html {
    height: 100%;
}

body {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

/*
Color Palette
- FFFFFF (white)
- F1DBE8 (very light purple)
- B8537B (light purple)
- D08198 (light pink)
- B5375B (pink)
- 733657 (dark purple)
*/

/* ---------- HEADER ---------- */
.header-main-con {
    background-color: white;
    border-bottom: 5px solid #B5375B;

    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    color: white;
    line-height: 0.5cm;
}

.header-menu {
    background-color: transparent;
    color: #733657;
}

.header-logo {
    background-color: transparent;
}

.header-name {
    color: #B5375B;
    font-weight: 800;
}

.header-lst {
    text-decoration: none;

    background-color: white;
    color: #733657 !important;
    font-weight: 700 !important;
}

.header-lst:hover {
    text-decoration: none;

    color: #B5375B !important;
    font-weight: 700 !important;
}

/* ---------- MAIN BANNER ---------- */


/* ---------- OUR SERVICES ---------- */


/* ---------- PRACTICE AREAS ---------- */
.practice-main-con{
    background-color: #F1DBE8;
}

.header-line {
    border: 1.5px solid #733657;
    width: 100px;
}

.practice-header {
    color: #733657;
    font-family: 'Libre Baskerville', serif;
    font-weight: 700 !important;
}

.practice-card {
    background-color: transparent !important;
    border: 2px solid transparent !important;

    transition: 1s;
}

.practices-firsthalf {
    background-color: transparent;
}

.practices-secondhalf {
    background-color: transparent;
}

.icons-con {
    background-color: #B8537B;

    max-width: 150px;
    max-height: 150px;

    text-decoration: none;

    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    transition: all 500ms ease;
}

.icons-con:hover {
    background-color: #B5375B;
    box-shadow: 0px 2px 4px 10px rgba(219, 203, 214, 0.74);
}

.label-con {
    text-decoration: none;

    font-family: 'Raleway', serif;
    font-weight: 700 !important;
    color: #733657;

    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    transition: all 300ms ease;
}

.label-con:hover {
    color: #B5375B;
}

.btn-practice {
    background-color: #B5375B;
    border: 1px solid #B5375B;
    border-radius: 10px;

    font-family: 'Raleway', serif;
    color: white;
    font-weight: 700;

    margin-top: auto;

    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    transition: all 300ms ease;
}

.btn-practice:hover {
    background-color: transparent;
    border: 1px solid #B5375B;
    border-radius: 10px;

    color: #B5375B;
}

/* ---------- LAW UPDATES and EVERYDAY LAW ---------- */
.update-everyday-section {
    font-family: 'Raleway', sans-serif;
    font-weight: 500 !important;
    color: black;
    line-height: 0.7cm;
}

.update-everyday-contact-us, .update-everyday-blank {
    background-color: #D08198;
    line-height: 0.5cm;
    color: black;
}

.header-line-left {
    border: 1.5px solid white;
    width: 100px;
}

.header-line-right {
    border: 1.5px solid #733657;
    width: 100px;
}

.law-updates {
    background-color: #733657;
    color: white;
}

.everyday-law {
    background-color: #F1DBE8;
    color: #733657;
}

.law-updates-header, .everyday-law-header {
    font-family: 'Libre Baskerville', serif;
    font-weight: 700 !important;
}

.law-updates-blog-title, .everyday-law-blog-title {
    font-family: 'Raleway', serif;
    font-weight: 700 !important;
}

.btn-contact-us, .btn-law-updates, .btn-everyday-law {
    background-color: #B5375B;
    border: 1px solid #B5375B;
    border-radius: 10px;

    color: white;
    font-weight: 700;

    bottom: 4rem;
    margin-top: auto;

    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    transition: all 300ms ease;
}

.btn-everyday-law:hover {
    background-color: transparent;
    border: 1px solid #B5375B;
    color: #B5375B;
}

.btn-contact-us:hover, .btn-law-updates:hover {
    background-color: transparent;
    border: 1px solid white;
    color: white;
}

/* ---------- FOOTER ---------- */
.footer-main-con {
    background-color: #733657;
    border-top: 5px solid #B5375B;

    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    color: white;
    line-height: 0.5cm;

    margin-top: auto;
}

.footer-brand, .footer-visit-us, .footer-contact-us, .footer-follow-us {
    background-color: transparent;
}

.footer-visit-us-title, .footer-contact-us-title, .footer-follow-us-title {
    font-weight: 700;
    font-style: italic;
}

.footer-brand-logo {
    width: 4rem;
}

.footer-brand-name {
    width: 10rem;
}

.footer-brand-lexmeet {
    width: 6rem;
}

.footer-contact-us-bold {
    font-weight: 700;
}

.footer-follow-us-icons, .footer-others-bold-italic {
    text-decoration: none;
    font-weight: 700;
    font-style: italic;
}

.footer-others-bold-italic {
    color: white;

    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    transition: all 300ms ease;
}

.footer-others-bold-italic:hover {
    color: #D08198;
}
